<section class="testimonial section-padding" data-scroll-index='4'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center white">
            <h3>Testimonials</h3>
            <span class="line"></span>
            <p class="white">Sed quis nisi nisi. Proin consectetur porttitor dui sit amet viverra. Fusce sit amet lorem faucibus, vestibulum ante in, pharetra ante.</p>
          </div>
      
        <div class="section-content">
          <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12">
              <div class="slider">
                <div class="slider-item">
                  <div class="test-img"><img src="images/user1.jpg" alt="Placeholder" width="157" height="157"></div>
                  <div class="test-text"><span class="title"><span>John Michal</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat.</div>
                </div>
                <div class="slider-item">
                  <div class="test-img"><img src="images/user3.jpg" alt="Placeholder" width="157" height="157"></div>
                  <div class="test-text"><span class="title"><span>Steve Smith</span> App User</span> Euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</div>
                </div>
                <div class="slider-item">
                  <div class="test-img"><img src="images/user3.jpg" alt="Placeholder" width="157" height="157"></div>
                  <div class="test-text"><span class="title"><span>Gordon Shaw</span> Blogger</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>